@charset "UTF-8";

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #tv{display: none;}
    #pc{display: none;}
}
@media screen and (min-width: 760px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #tv{display: none;}
    #pc{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #tv{display: none;}
    #pc{display: block;}
}
@media screen  and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #tv{display: block;}
    #pc{display: none;}
}